.react-datepicker {
    font-size: 1rem;
}

.react-datepicker__time-container {
    width: 200px;
}

.react-datepicker__time-list-item {
  height: 40px !important;
  line-height: 40px !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 8px;
}