.react-datepicker {
    font-size: 1rem;
}

.react-datepicker__time-container {
    width: 200px;
}

.react-datepicker__time-list-item {
  height: 40px !important;
  line-height: 40px !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 8px;
}

@media (max-width: 640px) {
    .react-datepicker {
      transform: scale(clamp(0.8, 2vw, 1));
      transform-origin: top center;
  }
}