@import "tailwindcss";

@theme {
  /* Brand */
  /* --color-brand-primary: #3b82f6;
  --color-brand-primary-hover: #2563eb;
  --color-brand-primary-ring: #3b82f6; */
  /* Surfaces */
  --color-surface: #EEE9DF;
  /* --color-surface-muted: #f9fafb;  */
  --color-btn-black-bg: #2C3B4D; 
  --color-btn-black-hover-header-bg: #3A4B60;    
  /* --color-section-bg: #f3f4f6;          
  --color-sidebar-bg: #28282b; */
  --color-footer-bg: #1B2632;
  /* --color-overlay: rgba(0, 0, 0, 0.5); */
  /* Text */
  /* --color-text-heading: #111827;        
  --color-text-body: #4b5563;          
  --color-text-muted: #6b7280;          
  --color-text-secondary: #9ca3af;     
  --color-text-placeholder: #9ca3af;
  --color-text-on-dark: #ffffff;
  --color-text-on-sidebar: #ffffff; */
  /* Borders */
  /* --color-border: #d1d5db;            
  --color-border-light: #e5e7eb;      
  --color-border-strong: #374151;      
  --color-border-accent: #6b7280;       */
  /* Semantic */
  /* --color-error-bg: #fef2f2;          
  --color-error: #ef4444;             
  --color-error-muted: #f87171;      
  --color-success: #16a34a;            
  --color-sidebar-hover: rgba(255, 255, 255, 0.1); */
}

.bg-surface-gradient {
  background: linear-gradient(
    to bottom left,
    #EEE9DF 40%,
    #C9C1B1 55%,
    #eaeaea5d 100%
  );
}
